* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

/* First navigation menu styling */
.topnav {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    text-align: center;
    background-color: #153d6f;
    color: white;
    padding: 10px;
}

/* Second top navigation menu styling */
.navmenu {
    display: grid;
    background-color: #153d6f;
    text-align: center;
    padding: 10px;
    grid-template-columns: auto auto auto auto auto auto auto;
}

/* .topimage {
    width: 100%;
    object-fit: cover;
} */

img {
    width: 100%;
    object-fit: cover;
}

/* Images after News section */
figure {
    margin-inline-start: 5px;
    margin-inline-end: 10px;
}

/* Featured link buttons styling */
button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    color: #EDEDED;
    font-size: 15px;
    border: 0;
}

figcaption {
    color: #428bca;
}

.row4 {
    display: grid;
    grid-template-columns: 37.5% 37.5% 25%;
    margin: 6px;
    /* width: 100%; */
}

h3.row4Headings {
    background-color: #153d6f;
    color: white;
    padding: 10px;
    margin: 7px;
    /* height: 20px; */
}

div>p {
    color: #428bca;
    padding: 0px 10px;
}

div>h3 {
    padding: 0px 9px;
}


hr.row4 {
    margin: 10px;
}

.bottomNavBar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #EDEDED;
    padding: 10px;
}

.CollegesAdmiss {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #153d6f;
    /* padding: 15px; */
}

h3.CollegesAdmiss {
    color: #ffbf0d;
}

p.CollegesAdmiss {
    color: white;
}

.finalFooter {
    text-align: center;
    background-color: #2B2834;
    color: white;
    margin: 0px;
}